In [1]:
print(input("Nama: "))
print(input("NIM: "))
print(input("Kelas: "))

ulaifiyah mutiara
I0322126
D

## 1.

diketahui dimensi sebuah aquarium tanpa penutup atas sebagai berikut:

```python
p = 11
l = 1.99
t = 25.87
```
buatkan program sederhana untuk menghitung diagonal tiap sisi dan luas permukaan aquarium tersebut tanpa menggunakan module math.

In [8]:
p = 11
l = 1.99
t = 25.87

# diagonal p-l
diagonal_1 = (p*2+l*2)**0.5
# diagonal p-t
diagonal_2 = (p*2+t*2)**0.5
# diagonal l-t
diagonal_3 = (l*2+t*2)**0.5

# luas permukaan tanpa tutup
lp = (2*(p*l+p*t+l*t)-(p*l))

print ("Balok yang memiliki: \nPanjang:",p, "\nLebar:",l,"\nTinggi:",t)
print ("\nMemiliki diagonal:\nSisi pertama:",diagonal_1,"\nSisi kedua:",diagonal_2,"\nSisi ketiga:", diagonal_3)
print ("\nDengan luas permukaan:",lp)

Balok yang memiliki:
Panjang: 11
Lebar: 1.99
Tinggi: 25.87

Memiliki diagonal:
Sisi pertama: 5.0970579749498635
Sisi kedua: 8.587199776411401
Sisi ketiga: 7.464583042608609

Dengan luas permukaan: 693.9925999999999

## 2.

diberikan data nilai mahasiswa sebagai berikut:

In [1]:
nilai = {
    'Frank': 80,
    'Abagnale': 75,
    'Cobb': 90,
    'Andy Dufresne': 85,
    'Ariadne': 70
}

In [11]:

kelas = [Frank, Abagnale, Cobb, Andy_Dufresne, Ariadne]

#nilai rata rata
rata = sum(kelas)/len(kelas)+max(kelas)

print ("Nilai rata-rata adalah", rata, "\nNilai tertinggi adalah", max(kelas), "yaitu Cobb\nNilai terendah adalah",min(kelas),"yaitu Ariadne")

Nilai rata-rata adalah 170.0
Nilai tertinggi adalah 90 yaitu Cobb
Nilai terendah adalah 70 yaitu Ariadne

buatlah program sederhana untuk menghitung nilai rata-rata semua mahasiswa dan mencari siapa yang mendapatkan nilai tertinggi dan nilai terendah. 
> *note: tidak perlu menggunakan loops untuk membuat program nya*

## 3.

diberikan list aslab sebagai berikut:
```python
list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]
```
* **A** Tuliskan kode untuk mengakses informasi tentang "nama" dari semua aslab mulai dari index 1 sampai 5
* **B** Tambahkan informasi berikut pada data aslab:
```python
    surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]
```
> *note: kalian hanya boleh menggunakan key-value pair yang disebutkan di dalam teks, tanpa menggunakan informasi tambahan yang diambil pada list yang ada*

In [7]:
#A Tuliskan kode untuk mengakses informasi tentang "nama" dari semua aslab mulai dari index 1 sampai 5

list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]

for i in range(1,len(list_aslab)):
    print(list_aslab[i]["nama"])
    
#B Tambahkan informasi pada data aslab

aslab1.update({"surel" : "berlian@student.uns.ac.id"})
aslab2.update({"surel" : "halidya@student.uns.ac.id"})
aslab3.update({"surel" : "nurki@student.uns.ac.id"})
aslab4.update({"surel" : "manarul@student.uns.ac.id"})
aslab5.update({"surel" : "alica@student.uns.ac.id"})
aslab6.update({"surel" : "dendy@student.uns.ac.id"})

list_aslab = (aslab1, aslab2, aslab3, aslab4, aslab5, aslab6)
print(list_aslab)

Halidya Siti Hanifah
Nurki Putra Mahardika
Aji Manarul Aziz
Alica Ayu Fitriani
Dendy Halim Kusuma
({'nama': 'Berlian Safri Prakoso', 'nim': 'I0320017', 'kontak': '0858XXXXXXXX', 'surel': 'berlian@student.uns.ac.id'}, {'nama': 'Halidya Siti Hanifah', 'nim': 'I0320044', 'kontak': '0878XXXXXXXX', 'surel': 'halidya@student.uns.ac.id'}, {'nama': 'Nurki Putra Mahardika', 'nim': 'I0320076', 'kontak': '0877XXXXXXXX', 'surel': 'nurki@student.uns.ac.id'}, {'nama': 'Aji Manarul Aziz', 'nim': 'I0320119', 'kontak': '0812XXXXXXXX', 'surel': 'manarul@student.uns.ac.id'}, {'nama': 'Alica Ayu Fitriani', 'nim': 'I0320121', 'kontak': '0896XXXXXXXX', 'surel': 'alica@student.uns.ac.id'}, {'nama': 'Dendy Halim Kusuma', 'nim': 'I0320125', 'kontak': '0822XXXXXXXX', 'surel': 'dendy@student.uns.ac.id'})